[Unit]
Description=Virtual systems environment

[Service]
Type=simple
Environment="PYTHONDONTWRITEBYTECODE=1"
ExecStart=/usr/share/fairshell/virt-system/vm-manager.py
TimeoutSec=5
Restart=always

RuntimeDirectory=fairshell-virt-system
LogsDirectory=fairshell-virt-system
NoNewPrivileges=yes
PrivateTmp=no
#PrivateUsers=yes                      # Hide system users
ProtectControlGroups=yes
#ProtectHome=yes                       # Hide user homes
PrivateDevices=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
ProtectSystem=full
ProtectHostname=yes
RestrictSUIDSGID=yes
ProtectKernelLogs=yes
RestrictRealtime=yes
MemoryDenyWriteExecute=yes

CapabilityBoundingSet=~CAP_AUDIT_CONTROL ~CAP_AUDIT_READ ~CAP_AUDIT_WRITE ~CAP_BLOCK_SUSPEND ~CAP_DAC_OVERRIDE ~CAP_SYS_TIME ~CAP_SYS_ADMIN 
#CapabilityBoundingSet=CAP_NET_ADMIN + some missing...
# check https://github.com/iovisor/bcc/blob/master/tools/capable.py
#       http://www.brendangregg.com/blog/2016-10-01/linux-bcc-security-capabilities.html

[Install]
WantedBy=default.target
